@use '../util/' as *;

// Reference: https://codepen.io/SaraSoueidan/pen/jpBbrq/

.toggle {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: rem(12);
    place-items: center;
    border: none;

    label {
        &[for="dark"] {
            order: 1;
            place-self: center end;
        }
        &[for="light"] {
            order: 3;
            place-self: center start;
        }
        &[for="system"] {
            order: 4;
            grid-column: 1 / -1;
        }
    }

    &__wrapper {
        height: rem(24);
        display: inline-block;
        position: relative;
        order: 2;
    }

    input[type="radio"] {
        opacity: 0;
    }

    &__background {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        border-radius: rem(12);
        background: linear-gradient(225deg, var(--toggle-bg-end) 0%, var(--toggle-bg-start) 98.02%);
    }

    &__button {
        width: rem(16);
        height: rem(16);
        border-radius: 50%;
        color: var(--toggle);
    }
}